.article-card {
  width: 500px;
  margin-bottom: 10px;
}
.article-card:hover {
  cursor: pointer;
  width: 400px;
  background: #000;
  color: white;
  transition-property: background;
  transition-duration: 1s;
}
.article-card img {
  width: 250px;
}
